# =========================
# Excel Binary Files
# =========================
*.xlsm
*.xlsx
*.xlsb
*.xlam
*.xltm
*.xltx

# =========================
# Temporary / Backup
# =========================
~$*.xls*
*.tmp
*.bak

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Mac
# =========================
.DS_Store

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Rubberduck
# =========================
*.rdproj
